@use 'variaveis';

.footer{
    padding: 26px 8px;

    &__container{
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 768px){
            max-width: 283px;
        }
    }

    &__logo{
        width: 120px;
        height: 66px;
        margin: 0 auto 10px;
        
        @media (max-width:768px){
            display: block;
            margin-top: 50px;
        }
    }
    &__links{
        padding: 26px 8px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @media (max-width:768px){
            padding: 0;
        }
        p{
            text-align: left;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 24px 0;
            li{
                margin-bottom: 20px;
                text-align: left;
                line-height: 22px;
            }
            a{
                text-decoration: none;
            }
        }
        &__item{

        &__horizontal{
            padding-top: 36px;
            justify-content: center;
            display: flex;
            gap: 46px;
            align-items: start;
            @media (max-width:768px){
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                line-height: 21px;
                letter-spacing: 0;
                height: 350px;
                padding-top: 0px;
            }
            &__social{
                display: flex;
                justify-content: space-between;
            }
            a{
                text-decoration: none;
            }
        }}
        }
        .copy{
            margin-top: 16px;

            p{
                margin-top: 24px;
            }
        }
    
}

.language_selector{
    display: block;
    text-align: start;
    img{
        width: 18px;
        height: 18px;
    }
    select{
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        height: 28px;
        &:hover{
            color: variaveis.$corTextoSecundario;
        }
        option{
            color: variaveis.$corDeFundo;
        }
    }
}