@use 'variaveis';

.header{
    display: flex;
    justify-content: end;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__links{
        display: flex;
        
        &__item{
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button{
        height: 50px;
        padding-left: 16px;
        padding-right: 16px;

        @media (max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}