@use 'variaveis';

.plans{
    padding: 5.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;

.center{
    text-align: center;
}

.text__normal{
    font-weight: 500;
}
    h2, p{
        text-align: center;
    }
    p{
        margin-top: 24px;
    }
    &__table{
        width: 992px;
        border-collapse: collapse;
        margin-top: 84px;

        thead{
            border-bottom:1px solid variaveis.$corTextoSecundario;
            tr:first-child{
                th{
                    &:nth-child(2){
                        border-top: solid 3px variaveis.$corDeFundoPlanos;
                    }
                    &:nth-child(3){
                        border-top: solid 3px variaveis.$corDeFundoPlanos;
                    }
                }
            }
            button{
                font-size: 14px;
            }
        }
        tbody{
            tr{
                border-bottom: solid 1px hsla(0, 0%, 75%, .3);
                height: 80px;
                &:first-child{
                    height: 120px;
            }
            }
        }

        th{
            img{
                width: 100px;
            }
            
        }
        th, td {
            padding: 8px;

            &:first-child{
                width: 40%;
            }
            &:not(:first-child){
                width: 25%;
            }

            &:last-child{
                background-color: variaveis.$corDeFundoPlanos;
            }
        }
        
    }

}