$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #02d6e8;
$corDoTextoBotaoPrimario: #040714;

$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;